@media (min-width: 992px){
    .col-lg-2 {
        flex: 0 0 18.666667%;
        max-width: 18.666667%;
    }
}

@media(min-width: 992px){
    .home-card {
        max-width: 25%!important;
        max-height: 25%!important;
        padding: 5rem!important
    }
}


@media (min-width: 992px){
    .card-image {
        max-width: 100vw!important;
        max-height: 100vh!important;
    }
}

.foot-position {
    position: relative;
	left: 0;
	bottom: 0;
	right: 0;
}

@media(min-width: 992px){
    .section-height {
        padding-bottom: 8rem!important;
        max-height: 100vh;
    }    
}

.section-height {
    margin: 3rem!important;
    max-height: 100vh;
}    